source https://www.nuget.org/api/v2/

nuget FakeItEasy
nuget FluentAssertions
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget Microsoft.Owin.Host.SystemWeb
nuget Nancy.Owin
nuget Nancy.Testing
nuget Nancy.Validation.DataAnnotations
nuget NEventStore
nuget NodaTime
nuget SpecFlow.NUnit
nuget ImpromptuInterface