source https://www.nuget.org/api/v2/

nuget FakeItEasy
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget Microsoft.Owin.Host.SystemWeb
nuget Nancy.Owin
nuget Nancy.Validation.DataAnnotations
nuget SpecFlow.NUnit
nuget ImpromptuInterface