type project
id PGS.DDD.Domain
include-pdbs true
excludeddependencies
  GitVersionTask
  ImpromptuInterface
  Costura.Fody
tags
  ddd eventsourcing eventstore
copyright 
  Copyright 2016 PGS Software S.A.